.itinerary {
    border: 3px solid #8d6e63;
    text-align: center;
    padding: 10px;
    margin: 2rem;
    border-radius: 3%;
}
.itinerary header {
    font-weight: bold;
    margin: 5px;
}
#saveItinerary {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}
.savedItineraryContainer {
    display:flex;
    flex-flow:column-reverse;
    flex-basis: 20%;
    text-align: center;
}
