@import 'weather.css';
@import 'preview.css';
@import 'itineraries.css';


* {
    box-sizing: border-box;
}
.dropdownContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 80%;
    padding-bottom: 20px;
    padding-top: 10px;
}


.park, .eatery, .bizzare {
  text-align: center;
  flex-basis: 28%;
  padding: 10px;
}

.previewContainer {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
#saveItinerary {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
