@import 'weather.css';
@import 'itineraries.css';


* {
    box-sizing: border-box;
}
.dropdownContainer {
    display: flex;
    flex-basis: 100%;
}


.park, .eatery, .bizzare {
    flex-basis: 28%
}

.previewContainer {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}
.weatherContainer {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}