@import 'weather.css';
@import 'preview.css';
@import 'itineraries.css';
@import 'dropdown.css';

* {
    box-sizing: border-box;
    font-family: verdana;
    line-height: 150%;
}

.park, .eatery, .bizzare {
  text-align: center;
  flex-basis: 28%;
  padding: 10px;
  border: solid;
  border-color: #8d6e63;
  border-radius: 4%;
  margin-top: 2rem;
  border-style: double;
}

.previewContainer {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  justify-content: space-around;
}

#saveItinerary {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color:#d7ccc8;
  
}

button:hover{
    background-color: #8d6e63;
}

.prompt{
  text-align: center;
}

h2{
  text-decoration: underline;
}

dialog{
  background-color: burlywood;
  border-radius: 2%;
}

.header {
  text-align: center;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  color: darkorchid;
  justify-content: space-evenly;
}

.pTag {
  margin: 1rem 3rem 1rem 3rem;
}

.parkDetailsDialog {
  width: 60%;
}