.parkImage {
  width: 400px;
  height: 400px;
}

.eatery_info, .attraction_info{
  text-align: center;
}


.parkDetailsDialog, .eateryDetailsDialog, .attractionDetailsDialog {
  text-align: center;
}

.eatery-detail, .park-detail, .attraction-detail {
  
}
