.parkImage {
  width: 300px;
  height: 300px;
}

.eatery_info, .attraction_info{
  text-align: center;
}


.parkDetailsDialog, .eateryDetailsDialog, .attractionDetailsDialog {
  text-align: center;
}

#saveItinerary {
  margin: 1rem;
}
.ParentItineraryContainer {
  border: 3px solid #8d6e63;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 3%;
}