.weatherContainer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
  }

.forecast {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.forecast__title {
    text-align: center;
    flex-basis: 100%;
}

.forecast__day {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:1.5rem;
}

.date, .temperatures, .conditions, .humidity, .wind {
    flex-basis: 100%;
}